*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #313131;
    color: #eee;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    color: rgb(228, 228, 28);
    font-size: 18px;
}

.dashboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.aa__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.h_text {
    color: rgb(255, 255, 0);
}

.client__edit p {
    display: flex;
    flex-direction: column;
}

.client__edit input {
    padding: .25em;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #ddd;
}
