*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eee;
}

.container {
    margin: 1em;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;

}

.document__list {

}

.document__list__el {
    padding: 0 .5em;
    border-bottom: 1px solid #777;
    list-style: none;
}