*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #313131;
    color: #eee;
}

.container {
    margin: 1em;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;

}

.logo {
    color: rgb(228, 228, 28);
    font-size: 18px;
}

