{% extends 'admin_app/base.html' %}
{% load static %}
{% block content %}

<div class="card text-bg-dark" style="width: 300px;">
    <div class="card-header">
        <p>{{ staff.first_name }} {{ staff.last_name }} - {{ staff.staff_id }}</p>
    </div>
    <img src="{% static 'images/img_avatar.png' %}" class="card-img-top" style="height: 300px; width: 100%;" alt="ARC">
    <div class="card-body">
        <p>Role: {{ staff_role.role }}</p>
        <p>Qualifications:</p>
        
    </div>
    <div class="card-footer"><a href="">Edit</a></div>
</div>



{% endblock %}
