{% extends "admin_app/base.html" %}

{% block content %}

<div class="card text-bg-dark m-3 text-center">

    <div class="card-header">
        <h1 class="h_text">Client Delete</h1>
    </div>
    <div class="card-body">
        <p>You are about to delete <span class="h_text">{{user.username}}</span>.</p>
        <p>Please write <span class="text-danger">{{user.username}}</span> in the input field to confirm.</p>
        <form method="POST" class="p-3">
            {% csrf_token %}
            <input type="text" name="name" />
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
    </div>
    <div class="card-footer">
        <a href="{% url "aa_client_read" user.id %}" class="btn btn-primary">Cancel</a>
    </div>
        
</div>


{% endblock content %}