{% extends "admin_app/base.html" %}

{% block content %}

<h3>Edit Client</h3>

<form class="client__form" method="POST" action="">
    {% csrf_token %}
    <label class="form-label">ID</label>
    <input class="form-control" name="id" value="{{ user.id }}" disabled />
    <label class="form-label">Username</label>
    <input class="form-control" name="username" value="{{ user.username }}" />
    <label class="form-label">Email</label>
    <input class="form-control" name="email" value="{{ user.email }}" />
    <label class="form-label">Firstname</label>
    <input class="form-control" name="firstname" value="{{ user.first_name }}" />
    <label class="form-label">Lastname</label>
    <input class="form-control" name="lastname" value="{{ user.last_name }}" />
    <input type="submit" value="Save" />
    <a href="{% url "aa_clients" %}">Back</a>
</form>


<button><a href="password/{{ user.id }}">Edit</a></button>
{% endblock content %}