{% extends "admin_app/base.html" %}

{% block content %}



<div class="card text-bg-dark mb-3">
    
    <div class="card-header">
        <h1>Clients</h1>
    </div>
    
    <div class="card-body">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th>Documents</th>
                    <th>Equipment</th>
                    <th>Competency</th>
                    <th scope="col">Edit Details</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{% url "aa_client_read" user.id %}">{{ user.username }}</a></td>
                    <td><a href="/manage/client_docs/{{user.id}}">View</a></td>
                    <td><a href="">View</a></td>
                    <td><a href="">View</a></td>
                    <td><a href="{{ user.id }}">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="card-footer">
        <a href="{% url 'aa_client_create' %}" ><button class="btn btn-success">New</button></a>
    </div>
    
</div>

{% endblock content %}