{% extends "admin_app/base.html" %}

{% block content %}

<h1>Client Read</h1>

<div class="card text-bg-dark mb-3">
    <div class="card-body">
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
    </div>
    <div class="card-body">
        {{ user_profile }}
    </div>
</div>

<a href="{% url "aa_client_update" user.id %}">Edit</a>
<br />
<a href="{% url "aa_client_delete" user.id %}">Delete</a>

{% endblock content %}