{% extends "admin_app/base.html" %}

{% block content %}

<h1>{{user}}: Equipment</h1>

{% for equipment_group in equipment_list %}

<h3>{{ equipment_group.group }}</h3>
<table class="table table-dark table-striped table-bordered">
    <thead>
        <th>Equipment</th>
        <th>Item No.</th>
        <th>Make</th>
        <th>Model</th>
        <th>Serial No.</th>
        <th>Calibration Date</th>
        <th>Service Date</th>
        <th>Inspection Date</th>
        <th>Test Date</th>
    </thead>
    <tbody>
        {% for item in equipment_group.items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.item_number}}</td>
            <td>{{item.make}}</td>
            <td>{{item.model}}</td>
            <td>{{item.serial_number}}</td>
            {% if item.latest_test %}
            
                <td>{{ item.latest_test.calibrate_date }}</td>
                <td>{{ item.latest_test.service_date }}</td>
                <td>{{ item.latest_test.inspection_date }}</td>
                <td>{{ titem.latest_testest.test_date }}</td>
                {% else %}
                <td>No test data available.</td>
            </tr>
        {% endif %}
        
        {% endfor %}

    </tbody>
</table>
{% endfor %}

{% endblock content %}