{% extends "admin_app/base.html" %}

{% block content %}

<h1>{{user}}: Equipment</h1>

{% for equipment_group in equipment_list %}

<h3>{{ equipment_group.group }}</h3>
<table class="table table-dark">
    <thead>
        <th>Equipment</th>
        <th>Item No.</th>
        <th>Make</th>
        <th>Model</th>
        <th>Serial No.</th>
        <th>Calibration Date</th>
        <th>Service Date</th>
        <th>Inspection Date</th>
        <th>Test Date</th>
    </thead>
    <tbody>
        {% for item in equipment_group.items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.item_number}}</td>
            <td>{{item.make}}</td>
            <td>{{item.model}}</td>
            <td>{{item.serial_number}}</td>
            {% if item.latest_test %}
            
                <td>{{ item.latest_test.calibrate_date }}</td>
                <td>{{ item.latest_test.service_date }}</td>
                <td>{{ item.latest_test.inspection_date }}</td>
                <td>{{ titem.latest_testest.test_date }}</td>
                {% else %}
                <td>No test data available.</td>
            </tr>
        {% endif %}
        
        {% endfor %}

    </tbody>
</table>
{% endfor %}
{% comment %} 
{% for equipment in equipment_list %}
    <div class="card text-bg-dark mb-3">
        <h3>Equipment: {{ equipment.equipment.name }}</h3>
        <p>Item Number: {{ equipment.equipment.item_number }}</p>
        <p>Make: {{ equipment.equipment.make }}</p>
        <p>Model: {{ equipment.equipment.model }}</p>
        <p>Serial Number: {{ equipment.equipment.serial_number }}</p>
        <p>Equipment Group: {{ equipment.equipment.equipment_group.name }}</p>

        {% for test in equipment.equipmenttest_set.all %}
            <h4>Test Data:</h4>
            <p>Calibration Date: {{ test.calibrate_date }}</p>
            <p>Service Date: {{ test.service_date }}</p>
            <p>Inspection Date: {{ test.inspection_date }}</p>
            <p>Test Date: {{ test.test_date }}</p>
        {% endfor %}
    </div>
{% endfor %} {% endcomment %}

{% endblock content %}