{% extends "client_app/base.html" %}

{% block content %}

<h1>Client Dashboard</h1>

<div class="row">

<div class="col">
  <div class="card text-bg-dark mb-3" style="width: 100%;">
      <div class="card-header">Process Manuals</div>
      <div class="card-body">
        <h5 class="card-title">Uploaded</h5>
        <p class="card-text">

          {{complete}} of {{ all_docs }}

        </p>
        <a href="{% url "document_review" %}">Upload</a>
      </div>
  </div>
</div>

  <div class="col">
  <div class="card text-bg-dark mb-3" style="width: 100%;">
    <div class="card-header">Tooling &amp; Equipment</div>
    <div class="card-body">
      <h5 class="card-title">Total pieces of equipment.</h5>
      <p class="card-text">{{ equipment_num }} pieces of equipment.</p>
      <a href="{% url "client_equipment" %}">View</a>
    </div>
  </div>
</div>

  <div class="col">
  <div class="card text-bg-dark mb-3" style="width: 100%;">
    <div class="card-header">Staff Competency</div>
    <div class="card-body">
      <h5 class="card-title">Total Number of Staff</h5>
      <p class="card-text">{{ staff_num }} members of staff.</p>
      <a href="{% url "client_staff" %}">View</a>
    </div>
  </div>
</div>

</div>

{% endblock content %}
