<!-- user_pdfs.html -->
{% extends "client_app/base.html" %}

{% block content %}

<h1>{{ request.user.username }}'s Uploaded PDFs</h1>
<ul class="client__docs__list">
    {% for pdf in pdfs %}
        <li class="client__docs__list__el">
            <div class="card text-bg-dark mb-3">
                <div class="card-header">
                    {{ pdf.pdf.name }}
                </div>
                <div class="card-body">
                    <p><a href="{{ pdf.pdf.url }}" class="btn btn-warning" download>Download</a></p>
                    <p>(Uploaded on {{ pdf.uploaded_at }})</p>
                </div>
            </div>
        </li>
    {% empty %}
        <li>No PDFs available</li>
    {% endfor %}
</ul>



<div>
    <a href="{% url "upload_pdf" %}" class="btn btn-dark">Upload PDF</a>
</div>


{% endblock content %}
