<!-- user_pdfs.html -->
{% extends "client_app/base.html" %}

{% block content %}

<h1>Document Review</h1>

    {% for doc in user_documents %}

        <div class="card text-bg-dark mb-3" style="width: 100%;">
            <div class="card-header">
                <span>{{ doc.document.title }}</span>
            </div>
                <span>{{ doc.uploaded }}</span>
                {% if doc.uploaded %}
                <span>{{ doc.upload_date }}</span>
                {% else %}
                <span>NA</span>
                {% endif %}
                <span>
                    {% if not doc.uploaded %}
                    <a href="{% url 'upload_document' doc.document.id %}">Upload</a>
                    {% else %}
                    Uploaded
                    {% endif %}
                </span>

        </div>

    {% endfor %}




{% endblock content %}
