<!-- user_pdfs.html -->
{% extends "client_app/base.html" %}

{% block content %}

<h1>{{ request.user.username }}'s Uploaded PDFs</h1>
<ul class="document__list">
    {% for pdf in pdfs %}
        <li class="document__list__el">
            <a href="{{ pdf.pdf.url }}" download>{{ pdf.pdf.name }}</a> (Uploaded on {{ pdf.uploaded_at }})
        </li>
    {% empty %}
        <li class="document__list__el">No PDFs available</li>
    {% endfor %}
</ul>



<div>
    <a href="{% url "upload_pdf" %}">Upload PDF</a>
</div>

{% comment %} <div>
    <p>Uploaded PDF: <a href="{{ request.user.userpdf.pdf.url }}">Download</a></p>
</div> {% endcomment %}

{% endblock content %}
