{% extends "client_app/base.html" %}
{% block content %}

<!-- templates/registration/password_change.html -->
<h1>Change Password</h1>


<div class="card text-bg-dark mb-3">
    <div class="card-body">
      <p class="form-text text-muted">{{ form.new_password1.help_text }}</p>
    </div>
  </div>


<ul class="list-unstyled">
        <li class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }}</label>
            {{ form.old_password }}
        </li>

        <li class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
        </li>

        <li class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}
        </li>
    </ul>

    <button type="submit" class="btn btn-dark">Change Password</button>
</form>


{% endblock content %}